@import "../../app.scss";

.hero {
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #11041f, #281937);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;

    .particles-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        z-index: -1;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;

        .textContainer {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            @include mobile {
                width: 100%;
                height: 50%;
                gap: 20px;
                align-items: center;
                text-align: center;
            }

            h2 {
                font-size: 30px;
                color: #b88bbb;
                letter-spacing: 10px;
            }

            h1 {
                font-size: 88px;

                @include mobile {
                    font-size: 36px;
                }
            }

            .buttons {
                button {
                    padding: 20px;
                    border: 1px solid gainsboro;
                    border-radius: 10px;
                    background-color: transparent;
                    color: gray;
                    margin-right: 20px;
                    cursor: pointer;
                    font-weight: 300;
                }
            }

            img {
                width: 70px;
            }
        }
    }

    .imageContainer {
        height: 100%;
        position: absolute;
        top: 50px;
        right: 50px;

        @include mobile {
            width: 100%;
            height: 50%;
            bottom: 0;
            top: unset;

            img {
                width: 80%; 
                height: auto;
                object-fit: contain;
                animation: none; 
            }
        }

        img {
            width: 90%; 
            height: 90%;
            object-fit: cover;
            opacity: 0.9; 
            animation: float 3s ease-out infinite;
        }

        @keyframes float {
            50% {
                transform: translate(0, 60px);
            }
        }
    }

    @media (max-width: 600px) {
        img {
            width: 250px; 
            animation: none; 
        }
    }
}
