@import "../../app.scss";

.about {
	position: relative;
	border-radius: 15px;
	padding: 73px;
	margin-top: 129px;
	z-index: 1;
	margin-left: 10%;
	margin-right: 10%;

	@include mobile {
		background-color: transparent;
		padding: 20px; /* Adjust padding for better responsiveness */
		margin-left: 0;
		margin-right: 0;
	}

	h2 {
		background-image: linear-gradient(to right, #e27a2b, #ff0051);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		font-size: 45px;
		font-weight: 700;
		letter-spacing: 1.75px;
		text-align: center;

		@include mobile {
			font-size: 30px; /* Adjusted font size for better responsiveness */
		}
	}

	.content {
		display: flex;
		flex-direction: row;
		align-items: center;

		@include mobile {
			flex-direction: column;
		}

		.aboutImage {
			width: 35%;

			@include mobile {
				display: none; /* Hide image on mobile screens */
			}
		}

		.aboutItems {
			color: rgb(202, 191, 191);
			display: flex;
			flex-direction: column;
			gap: 50px;

			@include mobile {
				margin-top: 20px; /* Adjust margin for better responsiveness */
				gap: 20px; /* Adjust gap for better responsiveness */
			}

			.aboutList {
				display: flex;
				flex-direction: row;
				align-items: center;
				border-radius: 20px;
				list-style: none;
				padding: 25px;
				background-image: linear-gradient(
					90deg,
					rgba(165, 215, 232, 0.42) 0%,
					rgba(255, 255, 255, 0) 100%
				);
				background-size: 0 100%;
				background-repeat: no-repeat;
				transition: 0.4s;

				@include mobile {
					padding: 15px; /* Adjust padding for better responsiveness */
					flex-direction: column;
					text-align: center; /* Center align text for better responsiveness */
				}

				img {
					margin-right: 20px;

					@include mobile {
						margin: 0 0 10px 0; /* Adjust margin for better responsiveness */
					}
				}

				h3 {
					font-size: 25px;
					font-weight: 600;
					letter-spacing: 4px;
					background-image: linear-gradient(to right, #8a2be2, #ff0000);
					-webkit-background-clip: text;
					background-clip: text;
					color: transparent;

					@include mobile {
						font-size: 20px; /* Adjust font size for better responsiveness */
					}
				}

				p {
					font-size: 20px;

					@include mobile {
						font-size: 16px; /* Adjust font size for better responsiveness */
					}
				}

				button {
					background-image: linear-gradient(to right, #e27a2b, #ff0051);
					border: none;
					border-radius: 10px;
					padding: 10px;
					width: 200px;
					height: 45px;
					margin-right: 20px;
					cursor: pointer;

					@include mobile {
						margin: 10px 0 0 0; /* Adjust margin for better responsiveness */
					}
				}
			}

			.aboutList:hover {
				background-size: 100% 100%;
			}
		}
	}
}
